body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: rgb(172, 201, 213);
    height: 100vh;
    position: relative;
}

#player {
    background-color: rgb(255, 0, 166);
    position: absolute;
}

.obstacle {
    background-color: rgb(19, 156, 37);
    position: absolute;
}

#page-gameover {
    background-color: gray;
}